@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');

// BG Colors
$base-color: #3a78ff;
$secondary-color: #f7f9fd;
$tertiary-color: #1d222b;
$footer-sub: #161a21;

// Font Colors
$base-font-color: #656d7a;;
$heading-color: #293340;

// Font Size
$base-font-size: 15px;
$h1-font-size: 80px;
$h2-font-size: 30px;
$h3-font-size: 24px;
$h4-font-size: 18px;
$h5-font-size: 16px;

// Font Family
$base-font: Roboto;

body {
    font-family: $base-font;
    font-size: $base-font-size;
    color: $base-font-color;
    line-height: 24px;
    letter-spacing: 0;
    font-weight: 400;
    margin: 0;
}

h1 {
    font-size: $h1-font-size;
}
h2 {
    font-size: $h2-font-size;
}
h3 {
    font-size: $h3-font-size;
}
h4 {
    font-size: $h4-font-size;
}
h5 {
    font-size: $h5-font-size;
}

a {
    text-decoration: none;
    color: $base-color;

    &:hover {
        color: $tertiary-color;
    }
}

.center {
    text-align: center;
}

.white-clr {
    color: #ffffff;
}

.full-width {
    transition: opacity .5s ease;
    overflow: hidden;
}

.button {
    text-align: center;
    margin: 30px 0px 0px;
    height: 48px;
    min-width: 180px;
    font-size: 12px;
    font-weight: 700;
    line-height: 46px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border: 1px solid rgba(255, 255, 255, 0.34);
    border-radius: 3px;
    background: rgba(255, 255, 255, 0);
    display: inline-block;
    transition: all .2s ease, color 0s;
}

.header {
    width: calc(100% - 20px);
    max-width: 1200px;
    margin: 10px auto;

    &-inner {
        display: flex;
        flex-flow: row wrap;
    }

    .logo {
        width: 20%;
        max-width: 120px;

        img {
            width: 100%;
        }
    }

    .nav {
        width: 80%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        &-inner {

        }
        &-link {
            padding: 12px 15px;
            margin: 5px;
        }
    }
}

.hero {

    &-inner {
        text-align: center;
        padding-bottom: 20px;
    }
    &-headline {
        font-size: 70px;
        margin: 0;
        line-height: 68px;
    }
    &-subheadline {

    }
    &-btn a {
        border-color: $base-color;
    }

    p {

    }
}

.flipboxes {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    transition: opacity .5s ease;
    overflow: hidden;
    margin-left: -15px;
    margin-right: -15px;
}

.flipbox {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;

    @media (min-width: 768px) {
        width: 50%;
    }

    @media (min-width: 1200px) {
        width: 25%;
    }

    &-front {
        background-color: $base-color;
        min-height: 350px;
        height: auto;
        border: 0px solid $base-color;
        border-radius: 0px;
    }
    &-alt {
        background-color: $secondary-color;
        border: 0px solid $secondary-color;
    }
    &-inner {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-self: center;
        padding: 30px;
        box-sizing: border-box;
    }
    &-icon img {
        width: 150px;
        display: inline-block;
        text-align: center;
    }
    &-title {
        margin-bottom: 12px;
        font-size: $h4-font-size;
        letter-spacing: 0px;
        line-height: 24px;
        text-transform: uppercase;
        font-weight: 700;
    }
    &-content p {
        font-size: 15px;
        letter-spacing: 0px;
        line-height: 24px;
        text-transform: none;
        font-weight: 400;
    }

    &-back {
        display: none;
    }
}

.spotlight {
    position: relative;
    box-sizing: border-box;
    max-width: 1280px;
    padding-top: 80px;
    padding-right: 10%;
    padding-bottom: 80px;
    padding-left: 10%;

    &-inner {
        box-sizing: border-box;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }
    &-image {
        margin-bottom: 35px;
    }
    &-desc p {
        text-align: center;
    }
    &-links {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (min-width: 480px) {
            flex-direction: row;
        }
    }

    .subheadline {
        line-height: 24px;
        text-align: center;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0px;
        margin: 0;
    }

    .headline {
        line-height: 1.2em;
        text-align: center;
        font-weight: 700;
        font-style: normal;
        letter-spacing: 0px;
        margin-top: 10px;
    }

    figure {
        display: inline-block;
        vertical-align: top;
        margin: 0;
        max-width: 100%;

        img {
            height: auto;
            max-width: 100%;
            vertical-align: top;
        }
    }

    .divider {
        display: inline-block;
        vertical-align: top;
        max-width: 100%;
    }

    &-logo--inner {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    &-logo {
        width: 100%;
        display: inline-block;
        text-align: center;

        @media (min-width: 480px) {
            width: calc((100% / 3) - 10px);
        }

        img {
            width: 140px;
        }
    }
}

.blog {

    &-inner {
        display: flex;
        flex-flow: row wrap;
        position: relative;
        overflow: hidden;
    }
    &-card {
        width: 100%;
        position: relative;
        min-height: 1px;

        @media (min-width: 768px) {
            width: calc(100% / 3);
        }
    }
    &-thumbnail {
        position: relative;
        overflow: hidden;
        height: 100%;

        a {
            
        }
        img {
            display: block;
            width: 100%;
            height: 100%;
            transform: scale(1);
            transform-style: preserve-3d;
        }
    }
    &-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        transition: all .2s ease-in-out;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0, rgba(0, 0, 0, 0.8) 85%, rgba(0, 0, 0, 0.8) 100%);
        color: $secondary-color;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        overflow: hidden;
        padding: 20px;
        box-sizing: border-box;
    }
    &-title {
        font-size: 16px;
        letter-spacing: 0px;
        line-height: 24px;
        text-transform: uppercase;
        font-weight: 700;
    }
    &-info {
        margin-top: 5px;
        line-height: 19px;
        font-weight: 300;
    }
    h2 a {
        color: $secondary-color;

        &:hover {
            color: $base-color;
        }
    }
}

footer {
    background-color: $tertiary-color;
    font-size: 14px;
    color: $base-color;
    line-height: 16px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 300;
    padding: 30px;
    box-sizing: border-box;

    h4 {
        font-weight: 300;
    }
}

.footer {
    display: flex;
    flex-flow: row wrap;

    &-card {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;

        @media (min-width: 768px) {
            width: 50%;
        }
        @media (min-width: 1200px) {
            width: 25%;
        }

        img {
            width: 33px;
        }

        a {
            color: $secondary-color;
            line-height: 20px;
            font-weight: 100;
        }
    }
    &-sub {
        margin-top: 20px;
        color: $secondary-color;
        font-weight: 100;
    }
}



// About Us Page
.about {
    position: relative;
    box-sizing: border-box;
    max-width: 1280px;
    padding-top: 60px;
    padding-right: 10%;
    padding-bottom: 80px;
    padding-left: 10%;

    &-content {
        font-weight: 100;
        font-size: 18px;
        letter-spacing: .5px;
        line-height: 27px;
    }
    &-headline {
        letter-spacing: 1px;
        line-height: 27px;
    }
    &-subheadline {
        font-size: 22px;
        font-weight: 300;
        margin: 22px 0;
    }
}

.services {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 25px 0 0;

    &-inner {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        max-width: 1280px;
        padding-left: 40px;
        padding-right: 40px;

        @media (max-width: 768px) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    &-headline {
        text-align: center;
        font-weight: 300;
    }
    &-subheadline {
        text-align: center;
        font-weight: 100;
    }
}

.service {

    &-headline {
        text-align: center;
        font-weight: 300;
    }
    &-cards {
        display: flex;
        flex-flow: row wrap;
    }
    &-card {
        width: 100%;
        text-align: center;
        box-sizing: border-box;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 30px 20px;
        background-color: rgba(29, 34, 43, 0.8);
        color: $secondary-color;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 0px;

        &:hover {
            background-color: rgba(29, 34, 43, 1);
            transition: .5s ease-out;
        }

        @media (min-width: 768px) {
            width: 50%;
        }
        @media (min-width: 1200px) {
            width: calc(100% / 3);
        }
    }
    &-icon img {
        width: 125px;
    }
    &-content {
        font-weight: 100;
        letter-spacing: .5px;
    }
}

.clients {

    &-inner {
        width: 100%;
        box-sizing: border-box;
        max-width: 1280px;
        padding-left: 40px;
        padding-right: 40px;
        padding: 35px 0;
    }
    &-headline {
        text-align: center;
        font-weight: 300;
    }
    &-logo {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 20px;
        box-sizing: border-box;
    }
    &-logo a {
        display: block;
        margin: 0 15px;
    }
    &-logo img {
        width: 115px;
    }
}

.client-logo {
    display: flex;
    align-items: center;
}