@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700");
body {
  font-family: Roboto;
  font-size: 15px;
  color: #656d7a;
  line-height: 24px;
  letter-spacing: 0;
  font-weight: 400;
  margin: 0; }

h1 {
  font-size: 80px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

a {
  text-decoration: none;
  color: #3a78ff; }
  a:hover {
    color: #1d222b; }

.center {
  text-align: center; }

.white-clr {
  color: #ffffff; }

.full-width {
  transition: opacity .5s ease;
  overflow: hidden; }

.button {
  text-align: center;
  margin: 30px 0px 0px;
  height: 48px;
  min-width: 180px;
  font-size: 12px;
  font-weight: 700;
  line-height: 46px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border: 1px solid rgba(255, 255, 255, 0.34);
  border-radius: 3px;
  background: rgba(255, 255, 255, 0);
  display: inline-block;
  transition: all .2s ease, color 0s; }

.header {
  width: calc(100% - 20px);
  max-width: 1200px;
  margin: 10px auto; }
  .header-inner {
    display: flex;
    flex-flow: row wrap; }
  .header .logo {
    width: 20%;
    max-width: 120px; }
    .header .logo img {
      width: 100%; }
  .header .nav {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .header .nav-link {
      padding: 12px 15px;
      margin: 5px; }

.hero-inner {
  text-align: center;
  padding-bottom: 20px; }

.hero-headline {
  font-size: 70px;
  margin: 0;
  line-height: 68px; }

.hero-btn a {
  border-color: #3a78ff; }

.flipboxes {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  transition: opacity .5s ease;
  overflow: hidden;
  margin-left: -15px;
  margin-right: -15px; }

.flipbox {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center; }
  @media (min-width: 768px) {
    .flipbox {
      width: 50%; } }
  @media (min-width: 1200px) {
    .flipbox {
      width: 25%; } }
  .flipbox-front {
    background-color: #3a78ff;
    min-height: 350px;
    height: auto;
    border: 0px solid #3a78ff;
    border-radius: 0px; }
  .flipbox-alt {
    background-color: #f7f9fd;
    border: 0px solid #f7f9fd; }
  .flipbox-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 30px;
    box-sizing: border-box; }
  .flipbox-icon img {
    width: 150px;
    display: inline-block;
    text-align: center; }
  .flipbox-title {
    margin-bottom: 12px;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700; }
  .flipbox-content p {
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 24px;
    text-transform: none;
    font-weight: 400; }
  .flipbox-back {
    display: none; }

.spotlight {
  position: relative;
  box-sizing: border-box;
  max-width: 1280px;
  padding-top: 80px;
  padding-right: 10%;
  padding-bottom: 80px;
  padding-left: 10%; }
  .spotlight-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%; }
  .spotlight-image {
    margin-bottom: 35px; }
  .spotlight-desc p {
    text-align: center; }
  .spotlight-links {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media (min-width: 480px) {
      .spotlight-links {
        flex-direction: row; } }
  .spotlight .subheadline {
    line-height: 24px;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    margin: 0; }
  .spotlight .headline {
    line-height: 1.2em;
    text-align: center;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0px;
    margin-top: 10px; }
  .spotlight figure {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    max-width: 100%; }
    .spotlight figure img {
      height: auto;
      max-width: 100%;
      vertical-align: top; }
  .spotlight .divider {
    display: inline-block;
    vertical-align: top;
    max-width: 100%; }
  .spotlight-logo--inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
  .spotlight-logo {
    width: 100%;
    display: inline-block;
    text-align: center; }
    @media (min-width: 480px) {
      .spotlight-logo {
        width: calc((100% / 3) - 10px); } }
    .spotlight-logo img {
      width: 140px; }

.blog-inner {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  overflow: hidden; }

.blog-card {
  width: 100%;
  position: relative;
  min-height: 1px; }
  @media (min-width: 768px) {
    .blog-card {
      width: calc(100% / 3); } }

.blog-thumbnail {
  position: relative;
  overflow: hidden;
  height: 100%; }
  .blog-thumbnail img {
    display: block;
    width: 100%;
    height: 100%;
    transform: scale(1);
    transform-style: preserve-3d; }

.blog-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  transition: all .2s ease-in-out;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0, rgba(0, 0, 0, 0.8) 85%, rgba(0, 0, 0, 0.8) 100%);
  color: #f7f9fd;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box; }

.blog-title {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700; }

.blog-info {
  margin-top: 5px;
  line-height: 19px;
  font-weight: 300; }

.blog h2 a {
  color: #f7f9fd; }
  .blog h2 a:hover {
    color: #3a78ff; }

footer {
  background-color: #1d222b;
  font-size: 14px;
  color: #3a78ff;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 300;
  padding: 30px;
  box-sizing: border-box; }
  footer h4 {
    font-weight: 300; }

.footer {
  display: flex;
  flex-flow: row wrap; }
  .footer-card {
    width: 100%;
    padding: 20px;
    box-sizing: border-box; }
    @media (min-width: 768px) {
      .footer-card {
        width: 50%; } }
    @media (min-width: 1200px) {
      .footer-card {
        width: 25%; } }
    .footer-card img {
      width: 33px; }
    .footer-card a {
      color: #f7f9fd;
      line-height: 20px;
      font-weight: 100; }
  .footer-sub {
    margin-top: 20px;
    color: #f7f9fd;
    font-weight: 100; }

.about {
  position: relative;
  box-sizing: border-box;
  max-width: 1280px;
  padding-top: 60px;
  padding-right: 10%;
  padding-bottom: 80px;
  padding-left: 10%; }
  .about-content {
    font-weight: 100;
    font-size: 18px;
    letter-spacing: .5px;
    line-height: 27px; }
  .about-headline {
    letter-spacing: 1px;
    line-height: 27px; }
  .about-subheadline {
    font-size: 22px;
    font-weight: 300;
    margin: 22px 0; }

.services {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 25px 0 0; }
  .services-inner {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 1280px;
    padding-left: 40px;
    padding-right: 40px; }
    @media (max-width: 768px) {
      .services-inner {
        padding-left: 20px;
        padding-right: 20px; } }
  .services-headline {
    text-align: center;
    font-weight: 300; }
  .services-subheadline {
    text-align: center;
    font-weight: 100; }

.service-headline {
  text-align: center;
  font-weight: 300; }

.service-cards {
  display: flex;
  flex-flow: row wrap; }

.service-card {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 30px 20px;
  background-color: rgba(29, 34, 43, 0.8);
  color: #f7f9fd;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0px; }
  .service-card:hover {
    background-color: #1d222b;
    transition: .5s ease-out; }
  @media (min-width: 768px) {
    .service-card {
      width: 50%; } }
  @media (min-width: 1200px) {
    .service-card {
      width: calc(100% / 3); } }

.service-icon img {
  width: 125px; }

.service-content {
  font-weight: 100;
  letter-spacing: .5px; }

.clients-inner {
  width: 100%;
  box-sizing: border-box;
  max-width: 1280px;
  padding-left: 40px;
  padding-right: 40px;
  padding: 35px 0; }

.clients-headline {
  text-align: center;
  font-weight: 300; }

.clients-logo {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box; }

.clients-logo a {
  display: block;
  margin: 0 15px; }

.clients-logo img {
  width: 115px; }

.client-logo {
  display: flex;
  align-items: center; }

.header-portfolio {
  position: absolute;
  z-index: 10; }

.portfolio {
  background-image: url(../images/laptop-blog.jpg);
  background-size: cover;
  background-position: center center;
  max-width: 1280px;
  position: relative;
  left: 0px;
  top: 0px;
  opacity: 1;
  text-align: center; }
  .portfolio:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #1d222b;
    opacity: 0.6; }
  .portfolio-inner {
    position: relative;
    padding: 120px 0;
    box-sizing: border-box;
    color: #ffffff; }
  .portfolio-headline {
    font-size: 70px;
    margin-top: 30px;
    line-height: 70px; }

.p-desc {
  position: relative;
  background-color: #ffffff;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: -100px;
  margin-bottom: 0px;
  max-width: 1140px;
  display: flex;
  margin-right: auto;
  margin-left: auto; }
  .p-desc--inner {
    display: flex;
    flex-flow: row wrap;
    max-width: 1140px;
    margin: auto; }
  .p-desc--left {
    width: 100%;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 60px 60px 60px 60px;
    box-sizing: border-box; }
    @media (min-width: 768px) {
      .p-desc--left {
        width: 50%; } }
  .p-desc--right {
    width: 100%;
    min-height: 400px;
    background-image: url(../images/manjang-stand.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 60px 60px 60px 60px;
    box-sizing: border-box;
    position: relative; }
    .p-desc--right:before {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      background-color: #1d222b;
      opacity: .7; }
    @media (min-width: 768px) {
      .p-desc--right {
        width: 50%; } }
  .p-desc--cta {
    position: absolute;
    bottom: 50px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center; }

.project {
  text-align: center; }
  .project-inner {
    width: calc(100% - 20px);
    margin: 50px auto; }
  .project-cards {
    display: flex;
    flex-flow: row wrap;
    max-width: 1140px;
    margin: 0 auto; }
  .project-card {
    width: 100%;
    position: relative;
    margin: 10px auto;
    min-height: 225px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media (min-width: 480px) {
      .project-card {
        width: calc(50% - 5px); } }
    @media (min-width: 1024px) {
      .project-card {
        width: calc(25% - 5px); } }
  .project-thumbnail {
    width: 100%;
    height: 100%;
    max-height: 225px;
    position: absolute;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat; }
    .project-thumbnail:before {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #1d222b;
      opacity: .7;
      width: 100%;
      border-radius: 5px; }
  .project-title {
    position: absolute;
    top: 50px;
    color: #fff; }
  .project-btn {
    position: absolute;
    color: #ffffff;
    border-color: transparent; }
  .project-quest {
    background-image: url(../images/quest-logo.png); }
  .project-akata {
    background-image: url(../images/akata.png); }
  .project-solar {
    background-image: url(../images/solarent-logo.png); }
  .project-sns {
    background-image: url(../images/sns-logo.jpg); }
  .project-utg {
    background-image: url(../images/utg-logo.gif); }
  .project-ourgambia {
    background-image: url(../images/ourgambia-logo.png); }
  .project-effoh {
    background-image: url(../images/favicon.png); }
  .project-hotel {
    background-image: url(../images/hotel-logo.png); }
